*{
  font-family: Verdana;
  background-color: black;
}

h1{
  font-weight:normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.downloadlink
{
  text-align: center;
  color: Aquamarine;
  font-size: 16px;
}

#cellvid{
  text-align: center;
}

h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

h3{
  font-size: 21px;
  color: Gray;
}

#excursion{
  text-align: right;
}
